<label>{{"RI_ROOM"|translate}}</label>
<select ng-model="room_id" ng-options="obj.room_id as obj.name for obj in rooms_list" chosen id="states"
    class="chosen-select" tabindex="4">
    <option value="">{{"ALL"|translate}}</option>
    <option disabled></option>
</select>
<div class="col-md-3" style="margin-bottom: 1px">
    <div class="form-group">
        <label>{{"recorfed_by_id"|translate}}</label>edit
        <select ng-model="item.recorfed_by_id"
            ng-options="obj.employee_id as obj.employee_name for obj in employee_list" chosen id="states"
            class="chosen-select">
            <option value="" disabled>{{"SELECT_AN_OPTION"|translate}}</option>
            <option disabled></option>
        </select>
    </div>
</div>
<label>{{"CONTACT_NAME"|translate}}</label>
<input type="text" class="form-control" ng-model="contact_name" maxlength="256">
<label>{{"0WNER_NAME"|translate}}</label>
<input type="text" rows="1" class="form-control" ng-model="owner_name">
<label>{{"PHONE"|translate}}</label>
<input type="text" class="form-control" onKeyPress='return InputNumberOne1(this, event);' ng-model="owner_phone">
<label>{{"EMAIL"|translate}}</label>
<input type="email" rows="1" class="form-control" ng-model="owner_email_address" required>
<label>{{"FROM_DAY"|translate}}</label>
<input type="text" class="form-control" placeholder="{{format_date}}" id="fromDate" ng-model="fromDate">

<label>{{"DESCRIPTION"|translate}}</label>
<input class="form-control" ng-model="description" type="text">

<label>{{"REMARK"|translate}}</label>
<input type="text" class="form-control" ng-model="remark" onKeyPress='return InputNumberOne1(this, event);'>
<label>{{"TO_DAY"|translate}}</label>
<input type="text" class="form-control" placeholder="{{format_date}}" id="toDate" ng-model="toDate">
<label> {{"STATUS"|translate}} </label>
<option value="">{{"ALL"|translate}} </option>

<label> {{"VIEW_NAME"|translate}} </label>
<span>{{it.view_name}}</span>
<label> {{"TOTAL_AMOUNT"|translate}} </label>
<input class="form-control" ng-change="ngChangeTotalamount(it.total_amount)" ng-model="it.total_amount"
    onkeypress="return InputNumberOne(this, event);" required="true" type="text" />
<label>{{"ADDRESS"|translate}}</label>
<input class="form-control" name="address" ng-model="it.address" type="text" />
<label>{{"ROOM_TYPE"|translate}}</label>
<select ng-model="room_type_id" class="form-control" ng-options="obj.room_type_id as obj.name for obj in type_list">
    <option value="">{{"ALL"|translate}}</option>
</select>
<!-- //hinh anh -->
<label>{{"IMAGE"|translate}}</label>
<span class="c-red">*</span>
<img ng-src={{img_service}} class="img-responsive" style="margin-bottom: 5px;">
<label style="border: 1px solid #e7eaec" class="btn btn-default btn-xs red" ng-click="update_service_image()">
    <i class="fa fa-upload"></i>{{"UPLOAD"||translate}}</label>
<!-- //hinh anh -->


<div class='col-md-4 col-sm-6 col-xs-12 marginBot5'>
    <div class="row">
        <div class="col-md-5">
            <label>{{"KEY_TYPE"|translate}}</label>
        </div>

        <div class="col-md-7">
            <select chosen id="states" class="chosen-select width100" ng-model="key_type" ng-change="change_floor()"
                ng-options="obj.key_type_id as obj.key_type_name for obj in keyType">
                <option value="">{{"ALL"|translate}}</option>
                <option disabled></option>
            </select>
            <input type="text" class="form-control" ng-model="key_type">
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 marginBot5">
    <div class="row">
        <div class="col-md-5">
            <label>{{"FROM_DATE2"|translate}}
                <span class="c-red"></span>
            </label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" id="fromDate" ng-model="effective_date" placeholder="dd-MM-yyyy">
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12 marginBot5">
    <div class="row">
        <div class="col-md-5">
            <label>{{"TO_DATE2"|translate}}
                <span class="c-red"></span>
            </label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" id="toDate" ng-model="to_Date" placeholder="dd-MM-yyyy">
        </div>
    </div>
</div>

<div class="col-md-12" style="padding-right: 0px;padding-left: 0px">
    <div class="row">
        <div class="col-md-6" style="display: grid;">
            <label>{{"IS_EVENT"|translate}}</label>
            <input type="checkbox" id="is_event" name="is_event" style=" opacity: 1 !important;" icheck
                ng-model="it.is_event" ng-true-value=1 ng-false-value=0 ng-change="change_check_is_event(it.is_event)">
        </div>
        <div class="col-md-6">
            <label>{{"BOOKING_CODE_PREFIX"|translate}} <span class="c-red" ng-if="it.is_event === 1">*</span>
            </label>
            <div class="input-group">
                <input type="text" id='booking_code_prefix' name="booking_code_prefix" class="form-control"
                    ng-model="it.booking_code_prefix" ng-blur="blur_input_text_icon('booking_code_prefix')"
                    required="it.is_event===1" placeholder="{{'ENTER_BOOKING_CODE_PREFIX'|translate}}">
                <span class="input-group-addon" class="c-green">
                    <i class="fa fa-check-circle c-green" aria-hidden="true" id="focus_icon_check"
                        ng-if="it.is_event === 1 && it.booking_code_prefix"></i>
                    <i class="fa fa-close c-red" aria-hidden="true" id="focus_icon_close"
                        ng-if="it.is_event === 1 && !it.booking_code_prefix"></i>
                </span>
            </div>
            <span id="span_booking_code_prefix" name="span_booking_code_prefix" class="c-green">
                {{"WARNING_NO_DATA"|translate}}
            </span>
        </div>
    </div>
</div>