<label>{{"RI_ROOM"|translate}}</label>
<select ng-model="room_id" ng-options="obj.room_id as obj.name for obj in rooms_list" chosen id="states" class="chosen-select"
    tabindex="4">
    <option value="">{{"ALL"|translate}}</option>
    <option disabled></option>
</select>
<label>{{"CONTACT_NAME"|translate}}</label>
<input type="text" class="form-control" ng-model="contact_name" maxlength="256">
<label>{{"0WNER_NAME"|translate}}</label>
<input type="text" rows="1" class="form-control" ng-model="owner_name">
<label>{{"PHONE"|translate}}</label>
<input type="text" rows="1" class="form-control" onKeyPress='return InputNumberOne1(this, event);' ng-model="owner_phone">
<label>{{"EMAIL"|translate}}</label>
<input type="email" rows="1" class="form-control" ng-model="owner_email_address" required>
<label>{{"FROM_DAY"|translate}}</label>
<input type="text" class="form-control" placeholder="{{format_date}}" id="fromDate" ng-model="fromDate">

<label>{{"DESCRIPTION"|translate}}</label>
<input class="form-control" ng-model="description" type="text">

<label>{{"REMARK"|translate}}</label>
<input type="text" class="form-control" ng-model="remark" onKeyPress='return InputNumberOne1(this, event);'>
<label>{{"TO_DAY"|translate}}</label>
<input type="text" class="form-control" placeholder="{{format_date}}" id="toDate" ng-model="toDate">
<label> {{"STATUS"|translate}} </label>
<option value="">{{"ALL"|translate}} </option>

<label> {{"VIEW_NAME"|translate}} </label>
<span>{{it.view_name}}</span>
<label> {{"TOTAL_AMOUNT"|translate}} </label>
<input class="form-control" ng-change="ngChangeTotalamount(it.total_amount)" ng-model="it.total_amount" onkeypress="return InputNumberOne(this, event);"
    required="true" type="text" />
<label>{{"ADDRESS"|translate}}</label>
<input class="form-control" name="address" ng-model="it.address" type="text" />
<label>{{"ROOM_TYPE"|translate}}</label>
<select ng-model="room_type_id" class="form-control" ng-options="obj.room_type_id as obj.name for obj in type_list">
    <option value="">{{"ALL"|translate}}</option>
</select>