<div ng-controller="myCtrl">
    <h1>Made by a directive!</h1>
    <div ng-init="firstName='John'">

        <p>firstName:
            <input type="text" ng-model="firstName">
        </p>
        <p>You wrote: {{ firstName }}</p>
        <p>lastName:
            <input type="text" ng-model="lastName">
        </p>
        <p>You wrote: {{ lastName }}</p>
    </div>
    <!-- <div ng-init="quantity=1;price=5">
                Quantity:
                <input type="number" ng-model="quantity"> Costs:
                <input type="number" ng-model="price"> Total in dollar: {{ quantity * price }}
            </div> -->
    <!-- <div ng-init="names=['Jani','Hege','Kai']">
                <ul>
                    <li ng-repeat="x in names">
                        {{x}}
                    </li>
                </ul>
            </div> -->
    <!-- <div ng-init="namess=[
            {name:'Jani',country:'Norway'},
            {name:'Hege',country:'Sweden'},
            {name:'Kai',country:'Denmark'}]">
                <ul>
                    <li ng-repeat="x in namess">
                        {{ x.name + ', ' + x.country }}
                    </li>
                </ul>
            </div> -->
</div>