<div class="col-sm-12 col-md-4 col-xs-12">
    <div class="row">
        <div class="form-group">
            <label>{{'FROM_DATE'|translate}}<span class="c-red">*</span></label>
            <input type="text" class="form-control" ng-model="it.from_date" ng-blur="update_from_date()" id="from_date"
                placeholder="dd-MM-yyyy">
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-4 col-xs-12">
    <div class="row">
        <div class="form-group">
            <label>{{'TO_DATE'|translate}}<span class="c-red">*</span></label>
            <input type="text" class="form-control" ng-model="it.to_date" ng-blur="update_to_date()" id="to_date"
                placeholder="dd-MM-yyyy">
        </div>
    </div>
</div>